{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
    },
    "globals": {
      "chai": true,
      "expect": true,
      "nock": true
    },
    "extends": "@flowio/flowio"
}
